.principal{
    align-self: center;
    background-color: green;
    width: 400px;
    height: 400px;
    border: 20px solid pink;
    padding: 50px;
    color: white;
}
.camposdatos{
    border: 0px;
    padding-bottom: 30px;
}
.dato{
    padding: 10px;
    float: right;

}
.campodato{
    border: 2px solid red;
    height: auto;
    display: inline-block;
    
    
    
}
.lab{
    margin-right: 20px;
    float: left;
}

body{
    align-content: center;
}