.principal{
    align-self: center;
    background-color: green;
    width: 500px;
    height: 400px;
    border: 20px solid lightblue;
    padding: 25px;
    color: white;
}
.camposdatos{
    border:0px;
    padding: 10px;
    margin-bottom: 20px;
}
.dato{
    padding: 10px;
    margin-left: 50px;

}
 .campodato{
    border: 2px solid red;
    width: 250px;
    margin-right: 0.25px; 
    margin-left: 10px;
    float:right;
}
.lab{
   font-weight: bold;
    
}
